if files.length > 0
    #nonFinalAlert
        .alert.alert-info
            p
                strong Pending Handins!
            p These assignments were handed in for you by another user:
            hr
            for file in files
                .nonFinalHandin(id=file.assignment._id)
                    p 
                        |Assignment for project '#{file.assignment.project.name}' was handed in on:  
                        date= file.timestamp
                        |&nbsp;click 
                        a(href="/results/" + file.assignment._id) here
                        |&nbsp;for more information
                    #uploadButtons(assignment=file.assignment._id)
                        .btn.btn-success.acceptNonFinal Accept
                        .btn.btn-danger.declineNonFinal Decline
                    if file != files[files.length - 1]
                        hr
        hr