extends simple.jade

block header
    .container
        .row
            .col-sm-8
                h1 Programming Hub
                p#subheader University College Twente
            .col-sm-4
                #profileImage
                    if user
                        a(href="/")
                            if user.id == "r.mulder"
                                img(src="/img/Rik.png")
                            else if user.id == "o.t.ford"
                                img(src="/img/Ollie.png")
                            else if user.id == "r.m.atema"
                                img(src="/img/Martijn.png")
                            else
                                #profileImageID(name=user.name family=user.surename)
                    else
                        a(href="/auth/google")
                            img(src="https://lh3.googleusercontent.com/-DRxN-2PbFjM/AAAAAAAAAAI/AAAAAAAAAAA/-8ZeTxDsXQg/photo.jpg")
        if user                        
            p
                a(href="/") Dashboard
                |&nbsp;&nbsp;&nbsp;
                a(href="/logout") Logout
                |&nbsp;&nbsp;&nbsp;
                a(href="/auth/google") Change User
        hr

block content_nouser
    .container
        p Please 
            a(href="/auth/google") login
            |&nbsp;with your utwente email address first.

block footer
    .container
        hr
        .right
            p Programming Hub v. 0.2 © Rik Mulder 2016.
        .left
            a(href="/legal/privacy") Privacy Policy