extends generic.jade

block scripts
    include ../includes/scripts.jade

block styles
    include ../includes/styles.jade

block title
    title Programming Hub

block body
    .wrapper
        #header
            block header
        #content
            if user
                block content
            else
                block content_nouser
        #footer
            block footer