extends generic.jade

block scripts
    include scripts.jade

block styles
    include styles.jade

block title
    title ATLAS Python Course

block body
    block heading
    .wrapper
        block content