.row.groups
    for group in groups
        .col-lg-4.col-sm-6
            .group(group=group.id)
                h3.special= group.name
                if group.open > 0
                    if group.open == 1
                        p There is 1 open assignment.
                    else 
                        p There are #{group.open} open assignments.
                    p The next deadline is in:
                    date(format="in")= group.nextd
                else 
                    p There are no open assignments.