extends structure/default.jade

block append scripts
    script(src="/scripts/hub.js")

block content
    .container
        #nonFinalHandIns
        .dashboardNode
            h2 Enrolled Courses
            #classes
                p currently loading...
