h3 Uploaded Files
table.table.table-striped
    thead
        tr
            th Filename
            th Remove
        tr
            td= file
            td Not available yet, upload a new file to replace this one.
p You can only upload one file for now.