blueish = rgb(0, 129, 221)

.dz-image
	background rgba(0, 0, 0, 0) !important

.dz-progress
	height 6px !important
	margin-top 10px !important
	border-radius 4px !important
	span
		background blueish !important

.dz-details
	margin-top 20px !important

.dz-size
	display none

.dz-filename:hover
	span
		border none !important

.dz-preview, .dz-file-preview, .dz-processing
	margin 0px !important

.dz-details
	margin-top: 6px

.dz-message
	font-family Open Sans
	font-size 14px
	margin 0px

.dropzone .dz-message
	margin 0px

.dropzone
	color #555
	background-color #fff
	border 1px solid #ccc
	border-radius 4px
	transition 0.2s
	margin-bottom 20px
	overflow auto
	min-height 175px
	
.dropzone:hover
	cursor pointer
	transition 0.2s
	border-color #66afe9
	outline 0
	-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
	box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)