.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
}
.flip-container.vertical:hover .flipper.vertical,
.flip-container.vertical.hover .flipper.vertical {
  transform: rotateX(180deg);
}
.back.vertical {
  transform: rotateX(180deg);
}
