//variables

blueish = rgb(0, 129, 221)

//basic functions and usefull classes

transform(n)
	-webkit-transform n
	transform n
		
.right-align
	text-align right

.yAlign
	transform(translateY(-50%))
	top 50%
	position relative

.hide
	display none

.left
	float left

.right
	float right

.center
	text-align center

//element styling, document layout

body, html
	height 100%
	box-sizing border-box

div
	box-sizing border-box

body
	background-color #fefefe

.wrapper
	min-height 100%
	width 100%
	position relative
	overflow auto
	background-color #f5f5f5

.btn:focus, .btn:active
	outline none !important

#content
	padding-bottom 80px
	margin-top 40px

#footer
	position absolute
	bottom 10px
	width 100%

#header
	height 105px
	background-color #e2e2e2
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25)
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25)

//headings

#subheader
	margin-top -12px
	font-family Open Sans
	font-weight 100
	font-size 20px
	text-align left

h3.special
	font-family Open Sans
	font-weight 100
	font-size 22px
	color blueish
	text-align left

//upload/dropzone page

#upload
	display none
	margin-bottom 40px
	margin-top 20px

#errMessage
	font-family Open Sans
	margin-top 10px
	color #df0000
	display none

#uploadButtons
	margin-top 10px
	:not(:nth-child(1))
		margin-left 6px

#testResults
	display none
	margin-top 40px

#studentInfo
	display none

textarea
	min-height 100px

#profileImage
	float right
	padding-top 13px
	img
		width 75px
		border-radius 50px
	a:hover, a:focus
		text-decoration none

#profileImageID
	width: 75px
	height: 75px
	font-size: 24px
	color: #fff
	text-align: center
	line-height: 75px
	border-radius 50px

.group
	height 175px

.btn-card, .btn-card-table
	border-radius 0px
	background-color transparent
	font-size 24px
	color #333

.btn-card-table
	font-size 18px

.icons-text
	text-align left
	bottom 0px
	position absolute

.btn-card:hover, .btn-card-table:hover
	background-color rgba(0, 0, 0, .05)

.top-icons
	button, a
		border-bottom 1px solid rgba(0, 0, 0, .05)

.top-icons, .bottom-icons
	:not(:last-child)
		border-right 1px solid rgba(0, 0, 0, .05)

.card
	background-color white
	padding 15px
	h3
		margin-top 0px
		margin-bottom 20px
		text-align center
	text-align center
	//border-radius 5px
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
	transition 0.2s

.cardLink
	h3
		margin-top 10px
		margin-bottom 10px

.cardLink:hover
	cursor: pointer
	box-shadow: 0 5px 15px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.15);
	transition 0.2s

#sendButtons
	@extends .center
	:not(:nth-child(1))
		margin-left 6px

#partners
	height: 150px

date
	cursor help
	text-decoration underline

.fixed240
	width 240px

.fixed180
	width 240px

.top40
	margin-top 40px
	
.disabled
	display none

.panel-heading
	height 36px

.failed
	background-color #f2dede !important

.passed
	background-color #dff0d8 !important

#updateFeadback
	margin-top 10px

#feedbackMessage
	margin-top 5px

#feedbackMessage.success
	color green

#feedbackMessage.fail
	color #df0000

#welcome_message
	margin-top 100px
	font-size 18px

#title_header a:hover, #title_header a:active, #title_header a:focus
	text-decoration none

#title_header
	a
		color #333
	margin-top 10px

h1, h2, h3
	font-family: Open Sans

.overviewFile:not(:first-child)
	page-break-before: always

#errors
	margin-top 10px

.col-lg-4.card-holder, .col-sm-6.card-holder
	padding 15px

.mtop25
	margin-top 25px

.mtop20
	margin-top 20px

.mtop15
	margin-top 15px

.mtop10
	margin-top 10px

.mtop5
	margin-top 5px

.mbottom10
	margin-bottom 10px

.mbottom5
	margin-bottom 5px

.card-table-container
	width 50%
	float left
	height 60px
	.flipper
		height 60px

.card-table-content
	border-top 1px solid rgba(0,0,0,0.05)
	background-color white
	height 60px
	h3
		margin 0px
		text-align center
	text-align center
	
.card-table-header
	.card-table-content
		border-top none
		border-bottom 3px solid #e3e3e3
	.card-table-container
		width 100%

.card-table-body
	:nth-child(even)
		border-left 1px solid rgba(0,0,0,0.05)

.back
	border-left none !important
	
.card-table
	overflow hidden
	box-shadow: 0 5px 15px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.05);

#userSelect
	max-height 300px
	overflow auto
	margin-bottom 0px

#studentSelect, #uploadedFilesSelect
	max-height 300px
	overflow auto
	
.state-icon
	left -5px

.list-group-item-primary
	color rgb(255, 255, 255)
	background-color rgb(66, 139, 202)

.checked-list-box
	margin-bottom 0px

.assignmentBulb
	width 10px
	height 10px
	position absolute
	border-radius 10px

.assignmentStateBulb
	@extends .assignmentBulb
	top 15px
	right 15px

.assignmentStateFeedback
	@extends .assignmentBulb
	top 30px
	right 15px

.back-normal	
	background-color #333

.back-done
	background-color #5cb85c

.back-late	
	background-color #f0ad4e

.back-due	
	background-color #d9534f

.back-open
	background-color #337ab7

h
	a
		color #333

a:hover, a:focus
	text-decoration none